# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=telux_power_refd Service
After=powermanager-daemon.service

[Service]
User=powermgr
Group=powermgr
SupplementaryGroups=wakelock system diag radio
Type=simple
Restart=on-failure
ExecStart=/usr/bin/telux_power_refd
CapabilityBoundingSet=CAP_BLOCK_SUSPEND CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_BLOCK_SUSPEND CAP_NET_ADMIN CAP_NET_RAW

[Install]
WantedBy=multi-user.target
